# Day 1 Solution
## Setup

In [51]:
import pandas as pd

In [52]:
# read the data and give it a column name of 'depth'
data = pd.read_csv('input.txt', names=['depth'])

In [55]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

## Part 1

Find how many times the depth increases (i.e. the following row is greater than the previous)

__Example:__

| Depth | Change |
| --- | --- |
| 100 | N/A |
| 101 | **1** |
| 99 | -2 |
| 102 | **3** |
| 104 | **2** | 

**Solution:** 3

In [62]:
# calculate the difference in depth between subsequent rows
data['change'] = data['depth'].diff()

# check if the difference is positive (i.e. increase in depth)
data['increase'] = data['change'] > 0
data.head()

   depth  change  increase
0    189     NaN     False
1    190     1.0      True
2    199     9.0      True
3    197    -2.0     False
4    200     3.0      True

In [57]:
# count the num of increases in depth
solution = sum(data['change'] > 0)
print(f'Solution: {solution}');

Solution: 1390

## Part 2

Find how many times the depth increases over a rolling sum of 3 rows

**Example**

| Depth | Rolling Sum Change | Diff |
| --- | --- | --- |
| 100 | N/A | N/A | 
| 101 | N/A | N/A |
| 99 |  300 | N/A |
| 102 | 302 | **2** |
| 104 | 305 | **3** |
| 94 | 300 | -5 |

**Solution:** 2

In [72]:
# Need to get a rolling sum of 3 adjacent rows, then find
data_rolling3 = pd.DataFrame(data['depth'].rolling(3).sum())

In [74]:
# calculate the difference in depth between subsequent rows
data_rolling3['change'] = data_rolling3['depth'].diff()

# check if the difference is positive (i.e. increase in depth)
data_rolling3['increase'] = data_rolling3['change'] > 0
data_rolling3.head()

   depth  change  increase
0    NaN     NaN     False
1    NaN     NaN     False
2  578.0     NaN     False
3  586.0     8.0      True
4  596.0    10.0      True

In [75]:
solution2 = sum(data_rolling3['increase'])
print(f'Solution: {solution2}');

Solution: 1457