## Part 1

In [29]:
import pandas as pd
df = pd.read_csv('input.txt', names=['direction', 'amount'], delimiter=' ')
df.head()

  direction  amount
0   forward       4
1      down       9
2   forward       6
3      down       5
4        up       2

In [30]:
forward = df.loc[df['direction']=='forward']
up = df.loc[df['direction']=='up']
down = df.loc[df['direction']=='down']

horizontal = forward['amount'].sum()
vertical = down['amount'].sum() - up['amount'].sum()

print(f'Moved {horizontal} forward and {vertical} down')

Moved 1905 forward and 907 down

In [31]:
solution = horizontal * vertical
print(solution)

1727835

## Part 2

In [32]:
data = open('input.txt', 'r')

aim = 0
position = 0
depth = 0

with open('input.txt', 'r') as data:
    for row in data:
        direction, amount = row.split(' ')
        if direction == 'forward':
            position = position + int(amount)
            depth = depth + (int(amount) * int(aim))
        elif direction == 'up':
            aim = aim - int(amount)
        elif direction == 'down':
            aim = aim + int(amount)

print(f'At position {position} and depth {depth}')

At position 1905 and depth 810499

In [33]:
solution2  = position * depth
print(solution2)

1544000595